<h1>"JavaScript"で作るピンポンゲーム</h1>
<p>参考:【JavaScriptを好きになろう】JavaScriptでピンポンゲームを作ろう</p>
<p>https://blog.codecamp.jp/javascript-game-production</p>
<br>
 <div id= "canvas-wrapper">
  <canvas id="myCanvas" width="480" height="320"></canvas>
 </div>
 <div class= "back-link" >
  <%= link_to "Topへ戻る", root_path%>
 </div>

 <script>
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d"); //canvasに対してのメソッド2Dグラフィック描画オブジェクト
    var ballRadius = 10; //ボールの半径
    var x = canvas.width/2; //ボールの始点
    var y = canvas.height-30;
    var dx = 2; //移動量
    var dy = -2;

    var paddleHeight = 10; //バーの高さ
    var paddleWidth = 120; //バーの幅
    var paddleX = (canvas.width-paddleWidth)/2;//バー始点
    var rightPressed = false; //キーのdefault
    var leftPressed = false;
    var brickRowCount = 5; //ブロックの横の数
    var brickColumnCount = 3; //ブロックの縦の数
    var brickWidth = 75; //ブロック幅
    var brickHeight = 20; //ブロックの高さ
    var brickPadding = 10;
    var brickOffsetTop = 30; //ブロックの高さ始点
    var brickOffsetLeft = 30; //ブロックの左幅の始点
    var score = 0; //スコアの始点

    var bricks = [];
    for(var c = 0; c < brickColumnCount; c++) {
      bricks[c] = [];
      for(var r = 0; r < brickRowCount; r++) {
        bricks[c][r] = { x: 0, y: 0, status: 1};
      }
    }

    document.addEventListener("keydown", keyDownHandler, false);
    document.addEventListener("keyup", keyUpHandler, false);
//もしキーボードが押下されたら
    function keyDownHandler(e) {
      if(e.key == "Right" || e.key == "ArrowRight") {
        rightPressed = true;
      }
      else if(e.key == "Left" || e.key == "ArrowLeft") {
        leftPressed = true;
      }
    }
//指が離れたら
    function keyUpHandler(e) {
      if(e.key == "Right" || e.key == "ArrowRight") {
        rightPressed = false;
      }
      else if(e.key == "Left" || e.key == "ArrowLeft") {
        leftPressed = false;
      }
    }
//ぶつかったら
    function collisionDetection() { //衝撃の検知
      for(var c = 0; c < brickColumnCount; c++) {
        for(var r = 0; r < brickRowCount; r++) {
          var b = bricks[c][r];
          if(b.status == 1) {
            if(x > b.x && x < b.x + brickWidth && y > b.y && y < b.y + brickHeight) {
              dy = -dy;
              b.status = 0;
              score++; //スコアが増える
              if(score == brickRowCount*brickColumnCount) { //スコアとブロック数が同数
                alert("やったね！");
                document.location.relord();
                clearInterval(interval); //リセットして再開
              }
            }
          }
        }
      }
    }

    function drawBall() {
      ctx.beginPath(); //線画の始点
      ctx.arc(x, y, ballRadius, 0, Math.PI*2); //座標.半径.円始点.円周率
      ctx.fillStyle = "red";
      ctx.fill();
      ctx.closePath(); //線画の終点
    }

    function drawPaddle() {
      ctx.beginPath();
      ctx.rect(paddleX, canvas.height-paddleHeight, paddleWidth, paddleHeight);
      ctx.fillStyle = "blue";
      ctx.fill();
      ctx.closePath();
    }

    function drawBricks() {
      for(var c = 0; c < brickColumnCount; c++) {
        for(var r=0; r < brickRowCount; r++) {
          if(bricks[c][r].status == 1) {
            var brickX = (r*(brickWidth+brickPadding))+ brickOffsetLeft;
            var brickY = (c*(brickHeight+brickPadding))+ brickOffsetTop;
            bricks[c][r].x = brickX;
            bricks[c][r].y = brickY;
            ctx.beginPath();
            ctx.rect(brickX, brickY, brickWidth, brickHeight);
            ctx.fillStyle = "gray";
            ctx.fill();
            ctx.closePath();
          }
        }
      }
    }
    function drawScore() {
      ctx.font = "16px Arial";
      ctx.fillStyle = "green";
      ctx.fillText("点数: " + score, 8, 20); //,8 ,20座標
    }

    function draw() {
       //移動軌跡を残さないために
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      drawBricks();
      drawBall();
      drawPaddle();
      drawScore();
      collisionDetection();
      // 枠外にはみ出たら
      if(x + dx > canvas.width-ballRadius || x + dx < ballRadius) {
        dx = -dx; //超えたら反転
      }
        console.log('y値:' + y + dy);
        if(y + dy < ballRadius) {
          dy = -dy; //超えたら反転
        }
        else if(y + dy > canvas.height-ballRadius) {
          if(x > paddleX && x < paddleX + paddleWidth) {
            dy = -dy;
          }
          else {
            alert("GAMEOVER");
            document.location.reload();
            clearInterval(interval);
          }
        }

      if(rightPressed && paddleX < canvas.width-paddleWidth) {
        paddleX += 7;
      }
      else if(leftPressed && paddleX > 0) {
        paddleX -= 7;
      }

      x += dx;
      y += dy;
    }

    //setInterval() 繰り返し処理、 1 を100にするとゆっくり
    var interval = setInterval(draw, 20);
 </script>