<h1>TOPページ</h1>
  <div class="br">
    <%= link_to "サイトについて", about_path %>
  </div>
  <h4>JavaScript</h4>
    <div class="br">
      <%= link_to "ピンポンゲーム", pingpong_path %>
    </div>
  <h4>Ruby</h4>
    <div class="br">
      <%= link_to "ブラックジャック",blackjack_path %>
    </div>
    <div class="br">
      <%= link_to "神経衰弱",sinsui_index__path %>
    </div>
